<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name, required: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, type:'email', required: true %>  

  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.select :age, ((18..30).map {|i| [i,i] } ), :prompt => 'Select Age', required: true %> 
    <!-- TODO: required does not work for  dropdown and checkbox -->
  </div>
  <div class="field">
    <%= f.label :college %><br>
    <%= f.collection_select :college_id, College.all, :id, :name, :prompt => 'Select College' %>
        <!-- TODO: required does not work for  dropdown and checkbox -->

  </div>
    <div class="field">
    <%= f.label :doing_internship %><br>
    <%= f.check_box :doing_internship %>
  </div>
  <div class="field">
    <%= f.label :internship_company %><br>
    <%= f.text_field :internship_company %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
if(document.getElementById('student_doing_internship').checked) {
    $("#student_internship_company").show();
} else {
    $("#student_internship_company").hide();
}
</script>

